# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\lab-7-Allaev1-1\webpage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
